{% extends "base.html" %}

{% block content %}
<h1>{% if event %}Edit event{% else %}Add event{% endif %}</h1>

<article>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  {% if event %}
    <a href="{% url 'events:event_detail' organisation.slug event.public_id %}">Cancel</a>
  {% else %}
    <a href="{% url 'organisations:organisation_detail' organisation.slug %}">Cancel</a>
  {% endif %}
</article>

{% if event %}
<article>
  <a href="{% url 'organisations:event_delete' organisation.slug event.public_id %}" role="button" class="secondary outline">Delete event</a>
</article>
{% endif %}
{% endblock %}
